html {
    background-color: fff;
}

body {
    display: flex;
    justify-content: center;
}

.task {
    background-color: #ddd;
    margin: 10px;
    width: 800px;
}

.top {
    display: flex;
    justify-content: start;
    background-color: #333;
    padding: 20px;
}

.gambar {
    padding: 20px;
    height: 190px;
    border-radius: 0px 0px 80px 0px;
}

.title {
    color: white;
}

.navbar {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 5px;
    background-color: black;
    font-weight: bold;

}

.menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.about {
    margin: 10px;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.about p {
    text-align: justify;
}

.music {
    text-align: center;
}

.jadwal-kuliah {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.jadwal-kuliah table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.jadwal-kuliah p {
    text-align: center;
}

.jadwal-kuliah td {
    font-weight: 400;
}

.hub {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.hub h2 {
    text-align: center;
}

.hub button {
    background-color: rgb(0, 0, 0);
}

.bottom {
    display:contents;
    text-align: center;
    background-color: #000000;
    color: rgb(0, 0, 0);
}